<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: nav"></nav>

<form method="post">

    <div th:each="client : ${clients}" class="checkbox">
        <input type="checkbox" name="client" th:value="${client.name}" th:id="${client}" />
        <label th:for="${client.name}" th:text="${client.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Client" />
</form>

</body>
</html>